<html lang="en" ng-app = 'app'>
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
  <script type="text/javascript" src="con.js"></script>
  <script type="text/javascript" src="Factory/factory.js"></script>
  <script type="text/javascript" src="Service/service.js"></script>
  <script type="text/javascript" src="constant/constant.js"></script>


  <!-- <script src="service.js"></script> -->
<!--   <script src="./src/factory.js"></script> -->

</head>
<body>
    <div class="header">football</div>
    <div ng-view></div>

</body>
    <script type="text/javascript">
    	var x = "<%= token %>"
    </script>
</html>
